body {
    background-color: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gameboard {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 650px;
    height: 650px;
    background-color: grey;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.cell {
    background-color: green;
    flex: 1;
    outline: 1px solid;
    width: calc(650px/3);
    height: calc(650px/3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}

#scoreboard {
    display: flex;
    width: 650px;
    justify-content: space-between;

}

.playerOneScore, .playerTwoScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    padding: 0px;
    margin: 0px;
}